<div class="container">
    <h2 class="text-center text-darkblue mb-4">Messages</h2>
    <div class="col-12 d-flex flex-wrap">
        <!-- Filter Input Section -->
        <div class="d-flex align-items-center mb-3 mb-md-0">
            <label for="messageDate" class="me-2">
                <i class="bi bi-calendar-date-fill fs-3"></i>
            </label>
            <input 
                type="text" 
                id="messageDate" 
                placeholder="Filter by Date" 
                class="form-control theme-dark-blue flex-grow-1" 
                bsDatepicker 
                [bsConfig]="{
                    isAnimated: true,
                    adaptivePosition: true,
                    containerClass: 'theme-dark-blue',
                    rangeInputFormat: 'YYYY-MM-DD'
                }" 
                autocomplete="off" 
                [(ngModel)]="messageDateFilter" 
            />
        </div>
    
        <!-- Send Message Button -->
        <div class="ms-auto">
            <button class="btn bg-darkBlue text-white" (click)="openModal()">
                Send Message
            </button>
        </div>
    </div>
    
    <div class="row mb-4 mt-3">
        <!-- Full Screen Column: Taking 100% width and 90% height of the screen -->
        <div class="col-12" style=" width: 100vw; overflow-y: auto;">
            <!-- Notification Card -->
            <div *ngFor="let message of messages | messageDateFilter:messageDateFilter!">
                <div class="card mb-4">
                    <div class="card-header bg-darkBlue d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="https://localhost:7055{{message.student.imagePath}}"  class="img-thumbnail rounded-circle"  alt="student profile" style="width: 50px; height: 50px;">
                            <span class="font-weight-bold text-white mx-4">{{message.studentNIC}} </span>
                            <span class="text-secondary fw-semibold mx-4 text-center">{{message.student.firstName}} {{message.student.lastName}}</span>
                        </div>
                       
                        <span class="text-white">{{ message.date | date: 'medium' }}</span>
                    </div>
                    <div class="card-body d-flex justify-content-between">
                        <div>
                            <h5 class="card-text text-center text-md-start fs-4 fs-sm-5 fs-md-3 fs-lg-2">
                                {{ message.message }}
                            </h5>

                            <!-- <p class="card-text">{{ message.content }}</p> -->
                        </div>
                        <div>
                            <button type="button" class="btn btn-white" (click)="deleteMessage(message.id)"><i
                                    class="bi bi-trash text-danger fs-3"></i></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>