<div class="container-fluid footer" style="background-color: #212727">
  <div class="logo d-flex justify-content-around">
    <img src="/images/logo_removed.png" alt="logo" style="width:10%;"/>
    <p class="text-light">
      DevHub: Empowering Developers, One Project at a Time. We are your go-to <br>
      platform for coding resources, tutorials, and community support. Join us <br>
      to learn, share, and grow in the ever-evolving world of technology.
    </p>
  </div>
  <div class="copyright text-light text-center">
    <p class="mb-0">
      &copy; 2025 DevHub. All rights reserved. | Designed by DevHub Team
    </p>
  </div>
</div>
