<div class="container-fluid">
  <div class="d-flex justify-content-between mb-3">
    <div>
      <input type="text" class="form-control" placeholder="Search Student..." [(ngModel)]="searchText">
    </div>

    <div>
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#registerModal" (click)="openModal()">
        New Student
      </button>
    </div>
  </div>


      <table class="table table-bordered table-responsive table-hover">
        <thead class="table-light">
          <tr>
            <th>Image</th>
            <th>NIC</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Enrolling Courses</th>
            <th>Finished Courses</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students | search:searchText">
            <td>
              <img [src]="baseUrl + student.imagePath" alt="Student Image" class="img-thumbnail" style="width: 50px; height: 50px;">
            </td>
            <td>{{ student.nic }}</td>
            <td>{{ student.firstName }} {{ student.lastName }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phone }}</td>
            <td>
              {{ student.address?.addressLine1 }},
              {{ student.address?.addressLine2 }},
              {{ student.address?.city }}.
            </td>
            <td>{{ student.enrollingCount || 0 }}</td>
            <td>{{ student.completedCount || 0 }}</td>
            <td class="d-flex justify-content-around">
              <!-- Edit Button -->
              <button type="button" class="btn btn-warning fw-semibold me-3 btn-lg">
                <i class="bi bi-pencil fw-semibold"></i>
              </button>
              <!-- Delete Button -->
              <button type="button" class="btn btn-danger fw-semibold btn-lg">
                <i class="bi bi-trash fw-semibold"></i> 
              </button>
            </td>
          </tr>
        </tbody>
      </table>
 



</div>
