
<div class="container">


    <div class="d-flex justify-content-between mb-3">
      <div>
        <input type="text" class="form-control" placeholder="Search Student..." [(ngModel)]="searchText">
      </div>
  
      <div>
        <button type="button" class="btn btn-dark" >
          New Student
        </button>
      </div>
    </div>
  
    <table class="table table-responsive table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <!-- <th>Password</th> -->
          <th>Address</th>
          <th>enrolling Courses</th>
          <th>Finished Courses</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{student.id}}</td>
          <td>{{student.name}}</td>
          <td>{{student.email}}</td>
          <td>{{student.phone}}</td>
          <!-- <td>{{student.password}}</td> -->
          <td>
            {{student.address?.addressLine1}},
            {{student.address?.addressLine2}},
            {{student.address?.city}}
          </td>
          <td>{{student.enroll.length}}</td>
          <td>{{student.finised.length}}</td>
          <td>
  
            <button type="button" class="btn btn-primary me-3 btn-sm" (click)="onEdit(student.id)">
              <i class="bi bi-pencil"></i></button>
  
              <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(student.id)">
                <i class="bi bi-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  
  
  </div>
  
  
