/* colors */
.bg-darkblue {
  background-color: #0d1e4c;
}
.text-darkblue {
  color: #0d1e4c;
}
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  color: #ffffff;
}


/* Individual card styles */
.card {
  padding: 20px;

  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px); /* Hover effect for card */
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .dashboard-container {
    padding: 10px;
  }

  .overview-cards {
    grid-template-columns: 1fr 1fr; /* 2 columns on smaller screens */
  }
}
