<div class="container mt-3">
  <div class="main-body">

    <!-- Breadcrumb -->
    <!-- <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
          <li class="breadcrumb-item active" aria-current="page">User Profile</li>
        </ol>
      </nav> -->
    <!-- /Breadcrumb -->

    <div class="row gutters-sm">
      <!-- Left Column: Profile Image and Follow/Message Buttons -->
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://localhost:7055{{studentProfile.imagePath}}" alt="Admin" class="rounded-circle"
                width="150">
              <div class="mt-3">
                <h4> {{studentProfile.firstName}} {{studentProfile.lastName}}</h4>
                <p class="text-secondary mb-1">Full Stack Developer</p>
                <p class="text-muted font-size-sm"> {{studentProfile.address.addressLine1}},
                  {{studentProfile.address.addressLine2}},
                  {{studentProfile.address.city}},</p>
                <div class="d-flex justify-content-around gap-2">
                  <!-- Home Button -->
                  <button class="btn btn-primary mb-2 w-100" [routerLink]="['/student/home']">
                    <i class="bi bi-house-door"></i>
                  </button>
                  <!-- Logout Button -->
                  <button class="btn btn-outline-danger mb-2 w-100" (click)="handleLogout()">
                    <i class="bi bi-box-arrow-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <!-- <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0"><i class="bi bi-globe mr-2"></i>Website</h6>
                <span class="text-secondary">https://bootdey.com</span>
              </li> -->
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><i class="bi bi-github mr-2"></i>Github</h6>
              <span class=""><a class="text-decoration-none text-secondary fw-semibold" href="studentProfile.socialMediaLinks.gitHub">View</a></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0 text-center"><i class="bi bi-linkedin text-info"></i>Linkedin</h6>
              <span class="text-secondary"><a class="text-decoration-none text-secondary fw-semibold" href="studentProfile.socialMediaLinks.linkedIn">View</a></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><i class="bi bi-instagram mr-2 text-danger"></i>Instagram</h6>
              <span class="text-secondary"><a class="text-decoration-none text-secondary fw-semibold" href="studentProfile.socialMediaLinks.instagram">View</a></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0 me-3"><i class="bi bi-facebook mr-2 text-primary"></i>Facebook</h6>
              <span class="text-secondary"><a class="text-decoration-none text-secondary fw-semibold" href="studentProfile.socialMediaLinks.facebook">View</a></span>
            </li>
          </ul>
          <div class="d-flex justify-content-end p-2">
            <!-- <button class="btn btn-primary mb-2"><i class="bi bi-person-plus"></i> Follow</button> -->
            <button class="btn btn-info"><i class="bi bi-pencil-square"></i> Update</button>
          </div>
        </div>
      </div>

      <!-- Right Column: Profile Details -->
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{studentProfile.firstName}} {{studentProfile.lastName}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">NIC</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{studentProfile.nic}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{studentProfile.email}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{studentProfile.phone}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{studentProfile.address.addressLine1}},
                {{studentProfile.address.addressLine2}},
                {{studentProfile.address.city}},
                {{studentProfile.address.state}},
                {{studentProfile.address.country}},
                {{studentProfile.address.postalCode}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-info" target="__blank"><i class="bi bi-pencil-square"></i> Edit</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Status Cards -->
        <div class="row gutters-sm">
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3 text-info"><i class="bi bi-check-circle  mr-2"></i>Reading
                  Course
                  Status</h6>
                  <div *ngIf="ReadingEnrollolment && ReadingEnrollolment.length > 0; else noEnrollments">
                    <div *ngFor="let enrollment of ReadingEnrollolment">
                      <small>{{ enrollment.course.courseName }}</small>
                  
                      <!-- Calculate the elapsed time in months and the percentage of completion -->
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary"
                          [style.width]="getProgressBarWidth(enrollment.enrollmentDate, enrollment.course.duration)"
                          role="progressbar"
                          [attr.aria-valuenow]="getProgressBarPercentage(enrollment.enrollmentDate, enrollment.course.duration)"
                          aria-valuemin="0" aria-valuemax="100">
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <ng-template #noEnrollments>
                    <div class="alert alert-warning d-flex align-items-center">
                      <i class="bi bi-exclamation-circle-fill fs-3 me-2"></i>
                      <span><strong>No Reading Courses Enrolled</strong></span>
                    </div>
                    <p class="text-muted">It seems that you haven't enrolled in any reading courses yet. Please explore available courses and get started.</p>
                    <button class="btn btn-info" [routerLink]="['/student/home']">Start a New Course</button>
                  </ng-template>
                  
                <!-- <small>Website Markup</small>
                <div class="progress mb-3" style="height: 5px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>One Page</small>
                <div class="progress mb-3" style="height: 5px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>Mobile Template</small>
                <div class="progress mb-3" style="height: 5px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>Backend API</small>
                <div class="progress mb-3" style="height: 5px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center text-success mb-3"><i
                    class="bi bi-check-circle text-success mr-2"></i> Complete Courses</h6>
                    <div *ngIf="completeEnrollment && completeEnrollment.length > 0; else noEnrollments">
                      <div *ngFor="let enrollment of completeEnrollment">
                        <small>{{ enrollment.course.courseName }}</small>
                        <div class="progress mb-3" style="height: 5px">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    
                    <ng-template #noEnrollments>
                      <div class="alert alert-warning d-flex align-items-center">
                        <i class="bi bi-exclamation-circle-fill fs-3 me-2"></i>
                        <span><strong>No Completed Courses</strong></span>
                      </div>
                      <p class="text-muted">You haven't completed any courses yet. Please make sure to finish your courses to unlock further opportunities.</p>
                      <button class="btn btn-info" [routerLink]="['/student/home']">Start a New Course</button>
                    </ng-template>
                    

                <!-- <small>Website Markup</small>
                <div class="progress mb-3" style="height: 5px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>One Page</small>
                <div class="progress mb-3" style="height: 5px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>Mobile Template</small>
                <div class="progress mb-3" style="height: 5px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>Backend API</small>
                <div class="progress mb-3" style="height: 5px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div> -->
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>