<div class="container mt-4">
  <div class="main-body">
    <div class="row gutters-sm">
      <!-- Left Column: Profile Image and Follow/Message Buttons -->
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm" id="profilePic">
          <div class="card-body text-center">
            <div class="position-relative d-inline-block profile-image">
              <!-- Profile Image -->
              <img src="https://localhost:7055{{studentProfile.imagePath}}" alt="Admin"
                class="rounded-circle mb-3 img-fluid"
                onerror="this.onerror=null; this.src='https://via.placeholder.com/150';">
              <!-- Edit Button (Using btn-outline-warning) -->
              <button type="button" class="btn btn-info position-absolute bottom-0 rounded-circle end-0 mb-4 me-2 p-1"
                (click)="editProfileImage()">
                <i class="bi bi-pencil" id="editProfileIcon"></i> <!-- Bootstrap Icon for Edit -->
              </button>
            </div>


            <h4>{{studentProfile.firstName}} {{studentProfile.lastName}}</h4>
            <p class="text-secondary mb-1">Full Stack Developer</p>
            <p class="text-muted font-size-sm">{{studentProfile.address.addressLine1}}, {{studentProfile.address.city}}
            </p>
            <div class="d-flex justify-content-around gap-2">
              <!-- Home Button -->
              <button class="btn btn-primary w-100" [routerLink]="['/student/home']">
                <i class="bi bi-house-door"></i> Home
              </button>
              <!-- Logout Button -->
              <button class="btn btn-outline-danger w-100" (click)="openHelpModal()">
                <i class="bi bi-info-circle"></i> Help
              </button>
            </div>
          </div>
        </div>

        <!-- New Card: Settings -->
        <div class="card shadow-sm mt-4" id="settings">
          <div class="card-body">
            <h6 class="mb-3 text-info"><i class="bi bi-gear me-2"></i>Settings</h6>
            <div class="list-group">
              <button class="list-group-item list-group-item-action d-flex align-items-center"
                (click)="openResetPasswordModal()">
                <i class="bi bi-key me-2"></i> Reset Password
              </button>
              <button class="list-group-item list-group-item-action text-danger d-flex align-items-center"
                (click)="handleLogout()">
                <i class="bi bi-box-arrow-right me-2"></i> Logout
              </button>
            </div>
          </div>
        </div>

        <!-- Social Media Links -->
        <div class="card shadow-sm mt-4" id="socialMediaLinks">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="studentProfile.socialMediaLinks.gitHub">
              <h6><i class="bi bi-github me-2"></i>Github</h6>
              <a class="text-secondary text-decoration-none fw-bold" [href]="studentProfile.socialMediaLinks.gitHub"
                target="_blank">View</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="studentProfile.socialMediaLinks.linkedIn">
              <h6><i class="bi bi-linkedin me-2 text-info"></i>LinkedIn</h6>
              <a class="text-secondary text-decoration-none fw-bold" [href]="studentProfile.socialMediaLinks.linkedIn"
                target="_blank">View</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="studentProfile.socialMediaLinks.instagram">
              <h6><i class="bi bi-instagram me-2 text-danger"></i>Instagram</h6>
              <a class="text-secondary text-decoration-none fw-bold" [href]="studentProfile.socialMediaLinks.instagram"
                target="_blank">View</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="studentProfile.socialMediaLinks.facebook">
              <h6><i class="bi bi-facebook me-2 text-primary"></i>Facebook</h6>
              <a class="text-secondary text-decoration-none fw-bold" [href]="studentProfile.socialMediaLinks.facebook"
                target="_blank">View</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="studentProfile.socialMediaLinks.whatsApp">
              <h6><i class="bi bi-whatsapp me-2 text-success"></i>WhatsApp</h6>
              <a class="text-secondary text-decoration-none fw-bold"
                [href]="'https://wa.me/' + studentProfile.socialMediaLinks.whatsApp" target="_blank">View</a>
            </li>
          </ul>
          <!-- Update Button -->
          <div class="card-body text-center">
            <button class="btn btn-info w-100"
              (click)="openSocialMediaUpdateModal(studentProfile.socialMediaLinks.id,studentProfile.nic)">
              <i class="bi bi-pencil-square me-2"></i> Update Links
            </button>
          </div>
        </div>

      </div>

      <!-- Right Column: Profile Details -->
      <div class="col-md-8">
        <div class="card shadow-sm mb-4" id="personalDetails">
          <div class="card-body">
            <h5 class="text-primary mb-4"><i class="bi bi-person me-2"></i>Personal Details</h5>
            <div class="row mb-3">
              <div class="col-sm-3"><strong>Full Name</strong></div>
              <div class="col-sm-9 text-secondary">{{studentProfile.firstName}} {{studentProfile.lastName}}</div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3"><strong>NIC</strong></div>
              <div class="col-sm-9 text-secondary">{{studentProfile.nic}}</div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3"><strong>Email</strong></div>
              <div class="col-sm-9 text-secondary">{{studentProfile.email}}</div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3"><strong>Phone</strong></div>
              <div class="col-sm-9 text-secondary">{{studentProfile.phone}}</div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3"><strong>Address</strong></div>
              <div class="col-sm-9 text-secondary">{{studentProfile.address.addressLine1}},
                {{studentProfile.address.city}}</div>
            </div>
            <a class="btn btn-info w-100" type="button" target="__blank"
              (click)="openStudentUpdateModal(studentProfile.nic)"><i class="bi bi-pencil-square me-2"></i>Edit</a>
          </div>
        </div>

        <!-- Project Status Cards -->
        <div class="row gutters-sm">
          <div class="col-sm-6 mb-3" id="ReadingEnrollolment">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <h6 class="text-info mb-3"><i class="bi bi-bookmark-check me-2"></i> Reading Courses</h6>
                <div *ngIf="ReadingEnrollolment && ReadingEnrollolment.length > 0; else noEnrollments">
                  <div *ngFor="let enrollment of ReadingEnrollolment">
                    <div class="d-flex justify-content-between">
                      <small class="fw-bold">{{ enrollment.course.courseName }}</small>
                      <small>{{enrollment.course.level}}</small>
                    </div>
                    <div class="progress mb-3" style="height: 13px" role="progressbar" aria-label="Progress with label"
                      [attr.aria-valuenow]="getProgressBarPercentage(enrollment.enrollmentDate, enrollment.course.duration)"
                      aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar" [ngClass]="{
                        'bg-danger ': getProgressBarPercentage(enrollment.enrollmentDate, enrollment.course.duration) < 30,
                        'bg-warning text-dark': getProgressBarPercentage(enrollment.enrollmentDate, enrollment.course.duration) >= 30 && getProgressBarPercentage(enrollment.enrollmentDate, enrollment.course.duration) < 70,
                        'bg-success': getProgressBarPercentage(enrollment.enrollmentDate, enrollment.course.duration) >= 70
                      }" [style.width]="getProgressBarWidth(enrollment.enrollmentDate, enrollment.course.duration)">
                        {{ getProgressBarPercentage(enrollment.enrollmentDate, enrollment.course.duration) | number:
                        '1.0-0' }}%
                      </div>
                    </div>


                  </div>
                </div>
                <ng-template #noEnrollments>
                  <div class="alert alert-warning d-flex align-items-center">
                    <i class="bi bi-exclamation-circle-fill fs-3 me-2"></i>
                    <span><strong>No Reading Courses Enrolled</strong></span>
                  </div>
                  <p class="text-muted">You haven't enrolled in any reading courses yet. Please explore available
                    courses and get started.</p>
                  <button class="btn btn-info" [routerLink]="['/student/home']">Start a New Course</button>
                </ng-template>
              </div>
            </div>
          </div>

          <div class="col-sm-6 mb-3" id="completeEnrollment">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <h6 class="text-success mb-3"><i class="bi bi-check-circle me-2"></i> Completed Courses</h6>
                <div *ngIf="completeEnrollment && completeEnrollment.length > 0; else noCompleteEnrollments">
                  <div *ngFor="let enrollment of completeEnrollment">
                    <div class="d-flex justify-content-between">
                      <small>{{ enrollment.course.courseName }}</small>
                      <small>{{enrollment.course.level}}</small>
                    </div>
                    <div class="progress " role="progressbar" aria-label="Example with label" aria-valuenow="100"
                      aria-valuemin="0" aria-valuemax="100" style="height: 13px">
                      <div class="progress-bar bg-success" style="width: 100%">100%</div>
                    </div>
                  </div>
                </div>
                <ng-template #noCompleteEnrollments>
                  <div class="alert alert-info d-flex align-items-center">
                    <i class="bi bi-file-earmark-check-fill fs-3 me-2"></i>
                    <span>No completed courses yet</span>
                  </div>
                  <p class="text-muted">You haven't completed any courses yet. Keep going, and finish your enrolled
                    courses!</p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End of Right Column -->
    </div>
  </div>
</div>