<header class="header-area">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light w-100">
        <a href="/" class="navbar-brand col-3 d-flex align-items-center text-white">
          <h2><img src="/Header_Image.png" alt="logo" class="img-fluid mx-auto d-block"
              style="max-width: 100%; height: auto; max-height: 50px;" /></h2>
        </a>

        <!-- Responsive Toggler -->
        <button class="navbar-toggler btn btn-outline-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-list text-white fs-3"></i>
        </button>

        <!-- Menu Start -->
        <div class="collapse navbar-collapse col-9" id="navbarNav">
          <!-- Centering the nav-links in the navbar -->
          <ul class="navbar-nav w-100 d-flex justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="#top">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#courses">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#facts">Facts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#apply">Apply</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact Us</a>
            </li>
          </ul>

          <div class="d-flex justify-content-center mt-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn login mb-3 fw-bolder" [routerLink]="['/login']">
              Login
            </button>
          </div>
        </div>
        <!-- Menu End -->
      </nav>
    </div>
  </div>
</header>

<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
  <div class="video-overlay header-text">
    <div class="container video-container">
      <!-- <video autoplay muted loop id="bg-video">
        <source src="/LandingAssets/course-video.mp4" type="video/mp4" />
      </video> -->
      <video autoplay muted loop id="bg-video">
        <source src="/LandingAssets/course-video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>

      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="caption m-5">
            <h6>Hello Students</h6>
            <h2>Welcome to Education</h2>
            <p>
              Welcome to <b>DEVHub</b>, where learning meets innovation! Whether
              you're just starting your journey or looking to sharpen your
              skills, we're here to provide you with the best resources, expert
              guidance, and a vibrant community. Our platform offers a wide
              range of courses, interactive content, and real-world experiences
              designed to help you succeed. Dive in, explore new possibilities,
              and unlock your full potential. Let's build the future, one lesson
              at a time!
            </p>

            <div class="main-button">
              <a href="#contact" class="btn scroll-to-section fw-bolder">Join Us Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->
<section class="services py-5" id="services">
  <div class="container">
    <h2 class="section-heading text-center text-darkbule">Our Services</h2>
    <div class="row">
      <div class="col-lg-12">
        <div id="servicesCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row d-flex d-flex justify-content-evenly">
                <div class="col-md-4 m-1" style="
                    background-image: url(/LandingAssets/ourTeam.jpg);
                    background-size: cover;
                    backdrop-filter: blur(10px);
                  ">
                  <div class="card card-01">
                    <div class="card-body">
                      <h4 class="card-title">Our Team</h4>
                      <p class="card-text">
                        Our team consists of dedicated professionals.
                        <strong>Hameem Mohamed Imthath</strong>, Fullstack
                        Developer and Team Lead, oversees technical direction.
                        <strong>Pathmarasan Piragash</strong>, Backend
                        Developer, builds server-side infrastructure.
                        <strong>Thajudeen Mohamed Safeek</strong>, Frontend
                        Developer, creates intuitive interfaces. Together, we
                        provide high-quality solutions, ensuring success and an
                        exceptional user experience.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 m-1" style="
                    background-image: url(/LandingAssets/bestTeachers.jpg);
                    background-size: cover;
                  ">
                  <div class="card card-01">
                    <div class="card-body">
                      <h4 class="card-title">Best Teachers</h4>
                      <p class="card-text">
                        "Learn from the best in the industry! Our educators are
                        highly qualified professionals who are passionate about
                        teaching. They bring real-world experience into the
                        classroom, providing students with practical insights
                        and expert guidance. Whether you're mastering a new
                        skill or pursuing advanced knowledge, our teachers are
                        here to guide you every step of the way."
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row d-flex d-flex justify-content-evenly">
                <div class="col-md-4 m-1" style="
                    background-image: url(/LandingAssets/onlineMeetings.jpg);
                    background-size: cover;
                  ">
                  <div class="card card-01">
                    <div class="card-body">
                      <h4 class="card-title">Online Meeting</h4>
                      <p class="card-text">
                        "Experience seamless online meetings that bring together
                        students, teachers, and experts from around the world.
                        With our easy-to-use platform, you can attend live
                        classes, webinars, and interactive sessions from the
                        comfort of your home. Stay engaged with real-time
                        discussions, Q&A, and hands-on activities – making
                        online learning more interactive and effective."
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 m-1" style="
                    background-image: url(/LandingAssets/bestNetworking.jpg);
                    background-size: cover;
                  ">
                  <div class="card card-01">
                    <div class="card-body">
                      <h4 class="card-title">Best Networking</h4>
                      <p class="card-text">
                        "Connect with a global community of learners and
                        professionals. Our platform fosters meaningful
                        relationships and provides you with opportunities to
                        network with like-minded individuals, share ideas, and
                        collaborate on projects that will help you grow. Whether
                        you're looking to expand your professional circle or
                        learn from peers, we make networking effortless and
                        impactful."
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row d-flex d-flex justify-content-evenly">
                <div class="col-md-4 m-1" style="
                    background-image: url(/LandingAssets/BestStudents.jpg);
                    background-size: cover;
                  ">
                  <div class="card card-01">
                    <div class="card-body">
                      <h4 class="card-title">Best Students</h4>
                      <p class="card-text">
                        "Our platform attracts the brightest and most motivated
                        students. From high schoolers to working professionals,
                        everyone here is dedicated to expanding their knowledge
                        and skills. Join a community where excellence is the
                        standard, and where you’ll be challenged, inspired, and
                        supported by fellow learners striving for success."
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 m-1" style="
                    background-image: url(/LandingAssets/bestEducation.jpg);
                    background-size: cover;
                  ">
                  <div class="card card-01">
                    <div class="card-body">
                      <h4 class="card-title">Best Education</h4>
                      <p class="card-text">
                        "Get access to top-tier education from wherever you are.
                        Our courses are designed to offer the best learning
                        experience, combining expert knowledge, interactive
                        content, and hands-on practice. We believe in providing
                        education that empowers you to achieve your goals and
                        equips you with the skills you need for a successful
                        future."
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Previous Button -->
          <button class="carousel-control-prev" type="button" data-bs-target="#servicesCarousel" data-bs-slide="prev">
            <span class="text-darkbule fs-2 rounded" aria-hidden="true"><i class="bi bi-caret-left-fill"></i></span>
          </button>

          <!-- Next Button -->
          <button class="carousel-control-next" type="button" data-bs-target="#servicesCarousel" data-bs-slide="next">
            <span class="text-darkbule fs-2 rounded" aria-hidden="true"><i class="bi bi-caret-right-fill"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- --------------------------------------------------------------course section--------------------------------------------------------------------------- -->
<!-- courses.component.html -->
<section class="our-courses py-5" id="courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading text-center">
          <h2 class="text-darkbule">Our Popular Courses</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!-- Carousel -->
        <div id="coursesCarousel" class="carousel slide px-5" data-bs-ride="carousel" data-bs-interval="3000">
          <div class="carousel-inner">
            <!-- Loop through the courses and create a slide every 3 courses -->
            <div class="carousel-item p-5" *ngFor="let chunk of chunkCourses(); let i = index" [class.active]="i === 0">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-4" *ngFor="let course of chunk">
                  <!-- <div class="course-card shadow-lg m-3">
                    <div
                      class="course-card__img"
                      [ngStyle]="{
                        'background-image':
                          'url(https://localhost:7055' +
                          course.imagePaths[0] +
                          ')'
                      }"
                    >
                      <span class="course-card__span rounded">{{
                        course.level
                      }}</span>
                    </div>
                    <div class="course-card-int bg-darkblue p-3 rounded-bottom">
                      <p class="course-card-int__title text-white">
                        {{ course.courseName }}
                      </p>
                      <p class="excerpt text-white">
                        {{ course.duration }} Months
                      </p>
                      <p class="course-card-int__fees">
                        <span
                          style="text-decoration-line: line-through; color: red"
                          >LKR{{ course.fees + 5000 }}</span
                        >
                        <br />
                        <span style="color: green">LKR{{ course.fees }}</span>
                      </p>
                      <a href="#contact">
                        <button class="course-card-int__button round">
                          Learn More
                        </button>
                      </a>
                    </div>
                  </div> -->
                  <div class="course-card">
                    <div class="course-card-body">
                      <div class="course-content">
                        <div class="course-title fs-4 fs-sm-5 fw-bold">{{ course.courseName }}</div>
                        
                        <!-- Price and Discount -->
                        <div class="course-price fs-5 fw-bold">{{ course.fees | currency:'LKR' }}</div>
                        <div class="fs-6 text-danger text-decoration-line-through fw-light">
                          {{ course.fees + 5000 | currency:'LKR' }}
                        </div>
                        
                        <!-- Description -->
                        <div class="course-description fs-6 text-secondary">{{ course.description }}</div>
                        
                        <!-- Course details -->
                        <div class="course-details mt-2">
                          <span class="text-white fs-6">{{ course.duration }} Months | Level: {{ course.level }}</span>
                        </div>
                      </div>
                  
                      <!-- Button -->
                      <a href="#contact" class="d-block">
                        <button class="course-btn btn btn-primary btn-lg w-100 w-sm-50 mt-3 fs-6 fs-sm-5">
                          Learn more
                        </button>
                      </a>
                    </div>
                  </div>
                  

                </div>
              </div>
            </div>
          </div>

          <!-- Previous Button -->
          <button class="carousel-control-prev" type="button" data-bs-target="#coursesCarousel" data-bs-slide="prev">
            <span class="text-darkbule fs-2 rounded" aria-hidden="true"><i class="bi bi-caret-left-fill"></i></span>
          </button>

          <!-- Next Button -->
          <button class="carousel-control-next" type="button" data-bs-target="#coursesCarousel" data-bs-slide="next">
            <span class="text-darkbule fs-2 rounded" aria-hidden="true"><i class="bi bi-caret-right-fill"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-facts py-5" id="facts">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-4 text-center ">
        <h2 class="text-darkbule">A Few Facts About Our University</h2>
      </div>

      <!-- Left Column: Facts -->
      <div class="col-lg-6 mt-5">
        <div class="row">
          <!-- Fact Box 1 -->
          <div class="col-md-6 mb-4 d-flex justify-content-center">
            <div class="card text-center border shadow-sm p-4 bg-light box-fact">
              <div class="card-body">
                <h3 class="card-title">{{ getCompletionPercentage() | number: '1.0-0' }}%</h3>
                <p class="card-text">Succussed Students</p>
              </div>
            </div>
          </div>

          <!-- Fact Box 2 -->
          <div class="col-md-6 mb-4 d-flex justify-content-center">
            <div class="card text-center border shadow-sm p-4 bg-light box-fact">
              <div class="card-body">
                <h3 class="card-title">{{summary?.totalCourses}}</h3>
                <p class="card-text">Available Courses</p>
              </div>
            </div>
          </div>

          <!-- Fact Box 3 -->
          <div class="col-md-6 mb-4 d-flex justify-content-center">
            <div class="card text-center border shadow-sm p-4 bg-light box-fact">
              <div class="card-body">
                <h3 class="card-title">{{summary?.totalStudents}}</h3>
                <p class="card-text">Total Students</p>
              </div>
            </div>
          </div>

          <!-- Fact Box 4 -->
          <div class="col-md-6 mb-4 d-flex justify-content-center">
            <div class="card text-center border shadow-sm p-4 bg-light box-fact">
              <div class="card-body">
                <h3 class="card-title">{{enrollmentSummary?.totalEnrollments}}</h3>
                <p class="card-text">Enrollments</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Column: Video Thumbnail -->
      <div class="col-lg-6 align-self-center text-center">
        <div class="video-container2" (click)="playVideo($event)">
          <img src="/LandingAssets/vedio cover.png" alt="YouTube Thumbnail" />
          <div class="play-button">
            <i class="bi  bi-play-circle text-white fs-1"></i>
          </div>
          <iframe data-src="https://www.youtube.com/embed/MIufgoKX34M?autoplay=1" title="YouTube video player"
            style="display: none; border: none;" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="apply-now py-5" id="apply">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="row mb-4">
          <div class="col-lg-12 mb-3">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title text-darkbule">APPLY FOR INTERMEDIATE LEVEL COURSES</h3>
                <p class="card-text">
                  Enhance your skills with our Intermediate courses. Dive deeper
                  into complex topics, tackle hands-on projects, and take your
                  learning to the next level. Perfect for those looking to build
                  on their existing knowledge and advance their career.
                </p>
                <a href="#contact" class="btn btn-danger">Join Us Now!</a>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">APPLY FOR BEGINNER LEVEL COURSES</h3>
                <p class="card-text">
                  Start your learning journey with our Beginner courses. Build a
                  solid foundation with step-by-step guidance, designed for
                  those new to the subject. Perfect for gaining the essential
                  skills to get started.
                </p>
                <a href="#contact" class="btn btn-warning">Join Us Now!</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="accordion mt-3 p-4" id="accordionExample">
          <!-- Accordion Item 1: About DevHub -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button Features" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                About DevHub Education Platform
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>
                  DevHub is a dynamic learning platform designed to provide
                  top-quality educational content for students of all levels.
                  Whether you're a beginner or an experienced professional, our
                  courses cover a wide range of topics including coding, design,
                  business, and more. Join a community of learners and start
                  building the skills you need to succeed!
                </p>
              </div>
            </div>
          </div>

          <!-- Accordion Item 2: Course Features -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed Features" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Our Courses and Features
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>
                  Our platform offers a variety of online courses, from beginner
                  to advanced levels. Learn at your own pace with interactive
                  lessons, quizzes, and hands-on projects. Plus, gain access to
                  expert instructors who provide personalized feedback to help
                  you grow. Whether you're learning coding, data science, or
                  digital marketing, DevHub has something for everyone!
                </p>
              </div>
            </div>
          </div>

          <!-- Accordion Item 3: Community Engagement -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed Features" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Join Our Community of Learners
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>
                  At DevHub, you’re never alone. Connect with like-minded
                  students and instructors through our community forums,
                  webinars, and group projects. Share knowledge, ask questions,
                  and grow together. Become a part of a vibrant and supportive
                  learning environment.
                </p>
              </div>
            </div>
          </div>

          <!-- Accordion Item 4: Share DevHub with Your Network -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed Features" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Share DevHub with Your Network
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>
                  Know someone who would benefit from DevHub’s courses? Share
                  the platform with your colleagues, friends, or family and help
                  them enhance their skills too. Learning together is the best
                  way to stay motivated and achieve success.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Team Start -->
<section id="team">
  <div class="container py-5">
    <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title text-center text-primary px-3">
          COORDINATORS
        </h6>
        <h1 class="mb-5 text-darkbule">Meet Our Team</h1>
      </div>
      <div class="row g-4">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item border-2 rounded-1 card cardBlue shadow-lg">
            <div class="overflow-hidden">
              <img class="card-img-top" src="/LandingAssets/safeek.jpg" alt="prof:Safeek" />
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <div class="position-relative d-flex justify-content-center icons" style="margin-top: -19px">
                <!-- Facebook Icon -->
                <a class="btn btn-square mx-1 social-icon facebook"
                  href="https://www.linkedin.com/in/safeek-mohamed-0ab486302?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app ">
                  <i class="bi bi-linkedin"></i>
                </a>

                <!-- GitHub Icon -->
                <a class="btn btn-square mx-1 social-icon github" href="https://github.com/SafeekMohamed18">
                  <i class="bi bi-github"></i>
                </a>

                <!-- WhatsApp Icon -->
                <a class="btn btn-square mx-1 social-icon whatsapp" href="https://wa.me/+94743773745">
                  <i class="bi bi-whatsapp"></i>
                </a>

                <!-- Instagram Icon -->
                <a class="btn btn-square mx-1 social-icon instagram" href="https://www.instagram.com/person_0618/">
                  <i class="bi bi-instagram"></i>
                </a>
              </div>
            </div>

            <div class="text-center p-4">
              <h5 class="mb-0">Mohamed Safeek Thajudeen</h5>
              <small>FULL STACK</small> ,<br />
              <small>BIIT UWUSL</small>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="team-item border-2 rounded-1 card cardBlue shadow-lg">
            <div class="overflow-hidden">
              <img class="img-fluid" src="/LandingAssets/imthath.jpg" alt="" />
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <div class="position-relative d-flex justify-content-center icons" style="margin-top: -19px">
                <!-- linkedin Icon -->
                <a class="btn btn-square mx-1 social-icon facebook"
                  href="https://www.linkedin.com/in/mohamed-imthath-006a62270?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                  <i class="bi bi-linkedin"></i>
                </a>

                <!-- GitHub Icon -->
                <a class="btn btn-square mx-1 social-icon github" href="https://github.com/ut01635">
                  <i class="bi bi-github"></i>
                </a>

                <!-- WhatsApp Icon -->
                <a class="btn btn-square mx-1 social-icon whatsapp" href="https://wa.me/+94768210306">
                  <i class="bi bi-whatsapp"></i>
                </a>

                <!-- Instagram Icon -->
                <a class="btn btn-square mx-1 social-icon instagram" href="https://www.instagram.com/imthath_imt/">
                  <i class="bi bi-instagram"></i>
                </a>
              </div>
            </div>
            <div class="text-center p-4">
              <h5 class="mb-0">Mohamed Imthath Hameem</h5>
              <small>FULL STACK</small> , <br />
              <small>AAT</small>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="team-item border-2 rounded-1 card cardBlue shadow-lg">
            <div class="overflow-hidden">
              <img class="img-fluid" src="/LandingAssets/piragas.jpg" alt="" />
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <div class="position-relative d-flex justify-content-center icons" style="margin-top: -19px">
                <!-- linkdin Icon -->
                <a class="btn btn-square mx-1 social-icon facebook"
                  href="https://www.linkedin.com/in/pathmarasan-piragash?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app ">
                  <i class="bi bi-linkedin"></i>
                </a>

                <!-- GitHub Icon -->
                <a class="btn btn-square mx-1 social-icon github" href="https://github.com/PPPiragash">
                  <i class="bi bi-github"></i>
                </a>

                <!-- WhatsApp Icon -->
                <a class="btn btn-square mx-1 social-icon whatsapp" href="https://wa.me/+94766931772">
                  <i class="bi bi-whatsapp"></i>
                </a>
                <!-- facebook -->
                <a class="btn btn-square mx-1 social-icon facebook"
                  href="https://www.facebook.com/share/1Ccrn8EKtZ/?mibextid=qi2Omg">
                  <i class="bi bi-facebook"></i>
                </a>
              </div>
            </div>
            <div class="text-center p-4">
              <h5 class="mb-0">Piragash Pathmarasan</h5>
              <small>FULL STACK</small> , <br />
              <small>BICT(Hons) UWUSL</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team End -->

<section class="contact-us py-5" id="contact">
  <div class="container">
    <div class="row">
      <div class="card col-lg-8 align-self-center d-flex justify-content-evenly grtInTouch shadow-lg">
        <div class="row">
          <div class="col-lg-12 mb-2">
            <h2 class="text-center text-darkbule mt-2">Let's get in touch</h2>
          </div>
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="d-flex justify-content-around p-1">
              <div class="col-md-6 mx-1 mb-3">
                <input formControlName="name" type="text" class="form-control" id="name" placeholder="YOUR NAME...*" />
                <div *ngIf="
                    contactForm.get('name')?.invalid &&
                    contactForm.get('name')?.touched
                  " class="text-danger form-text">
                  Name is required and must be at least 3 characters long.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <input formControlName="email" type="email" class="form-control" id="email"
                  placeholder="YOUR EMAIL..." />
                <div *ngIf="
                    contactForm.get('email')?.invalid &&
                    contactForm.get('email')?.touched
                  " class="text-danger form-text">
                  Please enter a valid email address.
                </div>
              </div>
            </div>
            <div class="col-lg-12 mb-3">
              <textarea formControlName="message" class="form-control" id="message" placeholder="YOUR MESSAGE..."
                rows="5"></textarea>
              <div *ngIf="
                  contactForm.get('message')?.invalid &&
                  contactForm.get('message')?.touched
                " class="text-danger form-text">
                Message is required and must be at least 10 characters long.
              </div>
            </div>
            <div class="col-lg-12 m-3 text-center">
              <button type="submit" id="form-submit" class="btn submit-btn text-white" [disabled]="contactForm.invalid">
                SEND MESSAGE NOW
              </button>
            </div>
            <p [ngClass]="{
                'text-success':
                  enquiryResults === 'Your message was sent successfully',
                'text-danger': enquiryResults === 'Your message failed to send'
              }" class="text-center mt-3">
              {{ enquiryResults }}
            </p>
          </form>

          <ngx-spinner name="enquiry" [fullScreen]="false" type="ball-fussion" size="medium"></ngx-spinner>
        </div>
      </div>
      <div class="col-lg-3 align-self-center m-1">
        <div class="card bg-light p-4 rounded">
          <ul class="list-unstyled">
            <li class="mb-3 ">
              <h6 class="text-darkbule fw-bold">Phone Number</h6>
              <span class="text-dark">+94768210306</span>
            </li>
            <li class="mb-3">
              <h6 class="text-darkbule fw-bold">Email Address</h6>
              <span class="text-dark">{{ email }}</span>
            </li>
            <li class="mb-3">
              <h6 class="text-darkbule fw-bold">Street Address</h6>
              <span class="text-dark">No-07, KKS Road, Jaffna, Sri Lanka</span>
            </li>
            <li class="mb-3">
              <h6 class="text-darkbule fw-bold">Website URL</h6>
              <span class="text-dark">
                <a href="http://localhost:4200" class="text-decoration-none">
                  www.devhub.edu
                </a>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<a href="#" class="btn btn-primary back-to-top">
  <i class="bi bi-arrow-up"></i></a>

<footer class="footer bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <!-- About Us Column -->
      <div class="col-12 col-md-3 mb-3">
        <h5>About Us</h5>
        <p>
          At DevHub Academy, we provide programming courses tailored for
          beginners and intermediate learners. Our mission is to empower
          students with essential coding skills and knowledge to excel in the
          tech industry.
        </p>
        <div class="d-flex pt-2">
          <!-- Social Media Icons -->
          <a class="btn btn-outline-light btn-social me-2" href="#">
            <i class="bi bi-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social me-2" href="#">
            <i class="bi bi-facebook"></i>
          </a>
          <a class="btn btn-outline-light btn-social me-2" href="#">
            <i class="bi bi-youtube"></i>
          </a>
          <a class="btn btn-outline-light btn-social me-2" href="#">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
      </div>

      <!-- Quick Links Column -->
      <div class="col-12 col-md-3 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#top" class="text-white">Home</a></li>
          <li><a href="#courses" class="text-white">Courses</a></li>
          <li><a href="#apply" class="text-white">Apply</a></li>
          <li><a href="#contact" class="text-white">Contact Us</a></li>
        </ul>
      </div>

      <!-- Contact Info Column -->
      <div class="col-12 col-md-3 mb-3">
        <h5>Contact Info</h5>
        <ul class="list-unstyled">
          <li>
            <i class="bi bi-telephone-fill"></i>
            <a class="text-white" href="https://wa.me/+94768210306">+94768210306</a>
          </li>
          <li><i class="bi bi-envelope-fill"></i> {{ email }}</li>
          <li>
            <i class="bi bi-geo-alt-fill"></i> KKS Road, Jaffna, Sri Lanka
          </li>
          <li>
            <a href="https://unicomtic.org/" target="_blank" class="text-decoration-none text-dark">
              <i class="bi bi-globe2"></i> DevHub (Unicomtic)
            </a>
          </li>

        </ul>
      </div>

      <!-- Google Map Column -->
      <div class="col-12 col-md-3 mb-3">
        <h5>Our Location</h5>
        <div class="ratio ratio-16x9">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1455.8509956634448!2d80.0079896276668!3d9.666176961881327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3afe570010da0795%3A0x642cc900b494e9a3!2sUnicom%20TIC!5e0!3m2!1sen!2slk!4v1723119162409!5m2!1sen!2slk"
            width="600" height="550" style="border: 0" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="row">
      <div class="col-12 text-center mt-4">
        <p class="mb-0">
          &copy; 2024 DevHub .co, Ltd. All Rights Reserved.
          <br />Design by:
          <a href="https://github.com/ut01635" target="_parent" class="text-white" title="DevHub">DevHub</a>
        </p>
      </div>
    </div>
  </div>
</footer>