.bg-darkBlue {
  background-color: #0b1b32;
}

.text-darkBlue {
  color: #0b1b32;
}

.title {
  font-size: 28px;
  font-weight: 800;
}

.input-field {
  position: relative;
  width: 100%;
}

.input {
  margin-top: 10px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  height: 45px;
  border: 1.5px solid #5e5e5e;
  background: transparent;
  padding-left: 10px;
}

.input:focus {
  border: 1.5px solid #2d79f3;
}

.input-field .label {
  position: absolute;
  top:20px;
  left: 15px;
  color: #646161;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 2;
}
h2{
  cursor: default;
}
.input-field .input:focus ~ .label,
.input-field .input:valid ~ .label {
  top: 1px;
  left: 5px;
  font-size: 12px;
  color: #2d79f3;
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
}

.submit-btn {
  margin-top: 30px;
  height: 55px;
  background: #f2f2f2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(180deg, #223146 0%, #0d1b2c 50%, #0b1b32 100%);
  box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.submit-btn:hover {
  box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #0000003a;
}
.img{

  width: 100%;
}