
body {
  background-color: #555;
  /* background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); */
  background-size: cover;
  height: 100vh; /* Ensures the background covers the full viewport */
  filter: blur(20%);
  -webkit-filter: blur(20%); /* For Safari and older browsers */
}

/* Custom CSS */
.bg-maroon {
  background-color: #800000; /* Maroon color for the header */
}

.sidebar {
  height: 100vh;
  width: 80px; /* Default narrow width for the sidebar */
  background: linear-gradient(135deg, #333, #444); /* Black and gray gradient */
  backdrop-filter: blur(10px); /* Blur effect */
  z-index: 1000;
  padding-top: 20px;
  transition: width 0.8s ease-in-out; /* Apply smooth transition on width */
  transform: scaleX(1);
}

.sidebar:hover {
  width: 200px; /* Wider width on hover */
}


.sidebar.show {
  transform: translateX(0);
}

.sidebar .nav-link {
  padding: 1rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.sidebar .nav-item:hover .nav-link {
  background-color: #555;
}

.sidebar .nav-link i {
  font-size: 1.5rem; /* Icon size */
  margin-right: 10px; /* Space between icon and text */
  transition: font-size 0.8s ease;
}

/* Text next to icons (hidden by default) */
.sidebar .nav-text {
  display: none; /* Hide text by default */
  font-size: 1.5rem; /* Default text size */
  transition: all 0.8s ease;
}

/* Reports sub-links */
.report-sub-links {
  display: none;
}

.report-item:hover .report-sub-links {
  display: block;
}



/* Show both text and icon on hover */
.sidebar:hover .nav-item .nav-text {
  display: block; /* Show text on hover */
  font-size: 1.5rem; /* Increase text size on hover */
  transition: width 0.8s ease-in-out; /* Apply smooth transition on width */
  transform: scaleX(1);
}

.sidebar .nav-item:hover .nav-link i {
  font-size: 1.5rem; /* Increase icon size on hover */
  transition: width 1s ease-in-out; /* Apply smooth transition on width */
  transform: scaleX(1);
}

/* On small screens (max-width: 767px) */
@media (max-width: 767px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 1;
    transition: transform 0.5s ease-in-out;
  }

  /* Show sidebar when the 'show' class is added */
  .sidebar.show {
    transform: translateX(0);
  }

  .btn-light {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  .sidebar .nav-item .nav-text {
    display: none; /* Hide text on small screens */
  }

  .nav-item .nav-link {
    font-size: 1rem;
  }
}

/* On desktop (min-width: 768px) */
@media (min-width: 768px) {
  .sidebar {
    position: relative;
    transform: translateX(0);
  }

  .main-content {
    margin-left: 260px; /* Sidebar space for desktop views */
  }

  /* Larger icons on desktop */
  header .d-flex button i {
    font-size: 1.8rem;
  }

  /* Show both text and icon on hover */
  .sidebar .nav-item:hover .nav-text {
    display: inline-block; /* Show text on hover */
    font-size: 1.5rem; /* Increase text size on hover */
  }
}
