
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="passwordResetModalLabel">Reset Password</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('cross click')"></button>
        </div>
       
          <div class="modal-body">
            <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" class="form-control">
            <!-- Current Password Field -->
            <div class="input-field">
              <input class="input" formControlName="currentPassword" type="password" required />
              <label class="label">Current Password</label>
              <div *ngIf="passwordResetForm.get('currentPassword')?.touched && passwordResetForm.get('currentPassword')?.invalid" class="error-message">
                <small *ngIf="passwordResetForm.get('currentPassword')?.hasError('required')">Current password is required.</small>
              </div>
            </div>
  
            <!-- New Password Field -->
            <div class="input-field">
              <input class="input" formControlName="newPassword" type="password" required />
              <label class="label">New Password</label>
              <div *ngIf="passwordResetForm.get('newPassword')?.touched && passwordResetForm.get('newPassword')?.invalid" class="error-message">
                <small *ngIf="passwordResetForm.get('newPassword')?.hasError('required')">New password is required.</small>
                <small *ngIf="passwordResetForm.get('newPassword')?.hasError('pattern')">Password must be at least 8 characters long and contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.</small>
              </div>
            </div>
  
            <!-- Confirm New Password Field -->
            <div class="input-field">
              <input class="input" formControlName="confirmNewPassword" type="password" required />
              <label class="label">Confirm New Password</label>
              <div *ngIf="passwordResetForm.get('confirmNewPassword')?.touched && passwordResetForm.get('confirmNewPassword')?.invalid" class="error-message">
                <small *ngIf="passwordResetForm.get('confirmNewPassword')?.hasError('required')">Please confirm the new password.</small>
                <small *ngIf="passwordResetForm.get('confirmNewPassword')?.hasError('compare')">New password and confirmation do not match.</small>
              </div>
            </div>
         
         
         
          <div class="w-100 d-flex justify-content-center">
            <button type="submit" class="btn submit-btn text-white btn-lg w-100 m-3" [disabled]="passwordResetForm.invalid">
              <i class="bi bi-floppy"></i> Save
            </button>
          </div>
        </form>
        </div>
        
      </div>

