.input-field {
    position: relative;
    width: 100%;
  }
  
  .input {
    margin-top: 15px;
    width: 100%;
    outline: none;
    border-radius: 8px;
    height: 45px;
    border: 1.5px solid #3b3b3bc7;
    background: transparent;
    padding-left: 10px;
  }
  
  .input:focus {
    border: 1.5px solid #2d79f3;
  }
  
  .input-field .label {
    position: absolute;
    top: 25px;
    left: 15px;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 2;
  }
  
  .input-field .input:focus ~ .label,
  .input-field .input:valid ~ .label {
    top: 5px;
    left: 5px;
    font-size: 12px;
    color: #2d79f3;
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .error-message small {
    color: red;
    font-size: 12px;
  }
  .form-control {
    margin: 0 auto;
    max-width: 800px;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    border-radius: 8px;
  } 