<!-- enquiry-list.component.html -->
<div class="container">
  <div class="d-flex justify-content-between mb-3">
    <h2>Enquiries</h2>
    <div>
      <input type="text" class="form-control" placeholder="Search enquiry..." [(ngModel)]="searchText">
    </div>
  </div>

  <div>
    <table class="table table-responsive table-bordered table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Email</th>
          <th>Message</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody style="overflow-y: auto;">
        <tr *ngFor="let enquiry of enquirys | enquirySearch:searchText">
          <td>{{ enquiry.date | date: 'dd/MM/yyyy' }}</td>
          <td>{{ enquiry.name }}</td>
          <td>{{ enquiry.email }}</td>
          <td>{{ enquiry.message }}</td>
          <td class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-warning me-2 btn-sm" (click)="openModal(enquiry.email)">
              <i class="bi bi-reply"></i>
            </button>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="onDelete(enquiry.id)">
              <i class="bi bi-trash"></i> 
            </button>
          </td>
        </tr>
      </tbody>
    </table> 
  </div>
  
</div>
