<div class="container-fluid">
  <div class="d-flex justify-content-between mb-3">
    <div>
      <input type="text" class="form-control" placeholder="Search course..." [(ngModel)]="searchText">
    </div>

    <div>
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#courseModal" (click)="openModal()">
        New Course
      </button>
    </div>
  </div>

  <table class="table table-responsive table-bordered  table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Duration (Months)</th>
        <th>Level</th>
        <th>Fees (LKR)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses | courseSearch:searchText">
        <td>
          <img src="https://localhost:7055{{course.imagePaths[0]}}" alt="Course Image" class="img-thumbnail" style="width: 30px; height: 30px;">
        </td>
        <td>{{ course.courseName }}</td>
        <td>{{ course.duration }} Months</td>
        <td [ngClass]="{
          'text-primary': course.level === 'Beginner',
          'text-success': course.level === 'Intermediate'
        }">{{ course.level }}</td>
        <td>
          {{ course.fees | currency:'LKR ' }}
        </td>
        <td class="d-flex justify-content-center">
          <button  type="button" class="btn btn-outline-warning me-2 btn-sm" (click)="onEdit(course.id)">
            <i class="bi bi-pencil"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="onDelete(course.id)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
