<div class="container">
    <h2 class="text-center mb-4">Messages</h2>
    <div class="col-12 d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center">

        <div class="d-flex mb-3 mb-sm-0">
            <label for="messageDate" class="d-flex align-items-center">
                <i class="bi bi-calendar-date-fill fs-1 mx-3"></i>
            </label>
            <input type="text" id="messageDate" placeholder="Filter by Date" class="form-control theme-dark-blue"
                bsDatepicker [bsConfig]="{
                     isAnimated: true,
                     adaptivePosition: true,
                     containerClass: 'theme-dark-blue',
                     rangeInputFormat: 'YYYY-MM-DD'
                   }" autocomplete="off" [(ngModel)]="messageDateFilter" />
        </div>

        <button type="button" class="btn btn-dark" data-bs-toggle="modal" (click)="openModal()">
            Chat to Admin
        </button>




    </div>

    <div class="row mb-4 mt-3">
        <div class="col-12" style=" width: 100vw;">
            <div *ngIf="messages && messages.length > 0; else noMessages">
                <!-- Notification Card -->
                <div *ngFor="let message of messages | messageDateFilter:messageDateFilter!">
                    <div class="card mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <span class="font-weight-bold text-white">Admin</span>
                            <span class="text-white">{{ message.date | date:'medium' }}</span>
                        </div>
                        <div class="card-body d-flex justify-content-between">
                            <div>
                                <h5 class="card-text text-center text-md-start fs-4 fs-sm-5 fs-md-3 fs-lg-2">
                                    {{ message.message }}
                                </h5>

                                <!-- <p class="card-text">{{ message.content }}</p> -->
                            </div>
                            <div>
                                <button type="button" class="btn btn-white" (click)="deleteMessage(message.id)"><i
                                        class="bi bi-trash text-danger fs-3"></i></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <ng-template #noMessages style="height: 100vh;">
                <div class="card p-3 shadow-lg">
                  <div class="alert alert-warning d-flex align-items-center" role="alert" aria-live="assertive">
                    <i class="bi bi-exclamation-circle-fill fs-3 me-2"></i>
                    <span><strong>No messages received or you have cleared your history</strong></span>
                  </div>
                  <p class="text-muted">You haven't received any messages yet from the administrator, or you may have cleared your message history.</p>
                </div>
              </ng-template>
              
        </div>
    </div>
</div>