<!-- admin-list.component.html -->
<div class="container">
  <div class="d-flex justify-content-between mb-3">
    <div>
      <input type="text" class="form-control" placeholder="Search Admin..." [(ngModel)]="searchText">
    </div>

    <div>
      <button type="button" class="btn btn-dark" [routerLink]="['/add-admin']">
        New Admin
      </button>
    </div>
  </div>

  <table class="table table-responsive table-bordered">
    <thead>
      <tr>
        <th>Image</th>
        <th>NIC</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let admin of admins">
        <td>
          <img [src]="baseUrl + admin.imagePath" alt="Admin Image" class="img-thumbnail" style="width: 50px; height: 50px;">
        </td>
        <td>{{ admin.nic }}</td>
        <td>{{ admin.name }}</td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.phone }}</td>
        <td>
          <button type="button" class="btn btn-primary me-3 btn-sm" (click)="onEdit(admin.nic)">
            <i class="bi bi-pencil"></i> Edit
          </button>
          <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(admin.nic)">
            <i class="bi bi-trash"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
