<div class="container-fluid mt-5">
  <div class="main-body">
    <div class="d-flex justify-content-between mb-3">
      <h2>Payment Details</h2>
      <!-- Filter Button with Bootstrap icon -->
      <button (click)="toggleFilterSection()" class="btn btn-outline-primary">
        <i class="bi bi-filter"></i> Filter
      </button>
    </div>


    <!-- Filter Section -->
    <div *ngIf="showFilterSection" class="filter-container mb-3">
      <div class="row">
        <div class="col-md-6">
          <input type="text" id="courseName" [(ngModel)]="courseNameFilter" class="form-control"
            placeholder="Search by Course Name">
        </div>
        <div class="col-md-6">
          <input type="text" id="dateRange" placeholder="Select Date" class="form-control theme-dark-blue" bsDatepicker
            [bsConfig]="{
                   isAnimated: true,
                   adaptivePosition: true,
                   containerClass: 'theme-dark-blue',
                   rangeInputFormat: 'YYYY-MM-DD'
                 }" autocomplete="off" [(ngModel)]="paymentDateFilter" />
        </div>
      </div>
    </div>

    <div class="mt-3">
      <div class="card-body">
        <h4 class="card-title"></h4>
        <div class="table table-responsive">
          <!-- Check if payments is null or empty -->
          <div *ngIf="payments && payments.length > 0; else noPayments">
            <table class="table table-bordered table-striped">
              <thead>
                <tr class="bg-darkblue">
                  <th>Date</th>
                  <th>Course Name</th>
                  <th>Course Fee</th>
                  <th>Amount</th>
                  <th>Due Amount</th>
                  <th>Total Paid Amount</th>
                </tr>
              </thead>
              <tbody>
                <!-- Apply dateFilter pipe and search pipe directly in the ngFor loop -->
                <tr *ngFor="let payment of payments | dateFilter: paymentDateFilter! | search: courseNameFilter">
                  <td>{{ payment.paymentDate | date}}</td>
                  <td>{{ payment.enrollment.course.courseName }}</td>
                  <td>{{ payment.enrollment.course.fees | currency:'LKR ' }}</td>
                  <td class="text-success">{{ payment.amount | currency:'LKR '}}</td>
                  <td class="text-danger">{{ payment.dueAmount | currency:'LKR ' }}</td>
                  <td class="text-warning">{{ payment.totalPaidAmount | currency:'LKR ' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- If payments is null or empty, show the noPayments message -->
          <ng-template #noPayments>
            <div class="card p-3 shadow-lg">
              <div class="alert alert-warning d-flex align-items-center">
                <i class="bi bi-exclamation-circle-fill fs-3 me-2"></i>
                <span><strong>No Payments Record Found</strong></span>
              </div>
              <p class="text-muted">You haven't made any payments yet. Please check back after completing a payment.</p>
              <button class="btn btn-info" (click)=" openMessageModal()" >Contact Admin</button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    
  </div>
</div>