<ngx-spinner name="admin" [fullScreen]="true" type="ball-fussion" size="medium"></ngx-spinner>
<div class="modal-header bg-white text-black">
  <h5 class="modal-title" id="adminModalLabel">
    {{ adminToEdit ? 'Update Admin' : 'Register Admin' }}
  </h5>
    <button type="button" class="btn-close" (click)="activeModal.dismiss('cross click')"></button>
  </div>
  
  <div class="modal-body">
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()" class="form-control">
      <p class="message text-center">
        {{ adminToEdit ? 'Update admin information' : 'Add a new admin to the system.' }}
      </p>

      
    <div class="col-12 d-flex justify-content-center">
     

      <label class="custom-file-upload" for="file">
        <div class="icon">
         
          <i
            class="bi bi-cloud-upload fs-6"
            style="color: rgba(75, 85, 99, 1)"
          ></i>
        </div>
        <div class="text">
          <span>Click to upload image</span>
        </div>
        <div *ngIf="adminImagePreviewUrl" class="image-preview mt-2">
          <div class="image-preview-circle">
            <img [src]="adminImagePreviewUrl" alt="Image Preview" />
          </div>
          <p>{{ imageFile?.name }}</p>
        </div>
        
        <input
          type="file"
          id="file"
          (change)="onImageChange($event)"
          accept="image/*"
        />
      </label>
     
    </div>

  
      <div class="row">
       
        <div class="col-md-6 col-12 mb-3">
          <div class="input-field">
            <input class="input" formControlName="nic" type="text" required pattern="^\d{9}[vxzVXZ]$|^\d{12}$" />
            <label class="label">NIC</label>
            <div *ngIf="adminForm.get('nic')?.touched && adminForm.get('nic')?.invalid" class="error-message">
              <small *ngIf="adminForm.get('nic')?.hasError('required')">NIC is required.</small>
              <small *ngIf="adminForm.get('nic')?.hasError('pattern')">Please enter a valid NIC number (e.g., 123456789V or 123456789012).</small>
            </div>
          </div>
        </div>
  
       
        <div class="col-md-6 col-12 mb-3">
          <div class="input-field">
            <input class="input" formControlName="name" type="text" required minlength="3" />
            <label class="label">Name</label>
            <div *ngIf="adminForm.get('name')?.touched && adminForm.get('name')?.invalid" class="error-message">
              <small *ngIf="adminForm.get('name')?.hasError('required')">Name is required.</small>
              <small *ngIf="adminForm.get('name')?.hasError('minlength')">Name must be at least 3 characters long.</small>
            </div>
          </div>
        </div>
  
        
        <div class="col-md-6 col-12 mb-3">
          <div class="input-field">
            <input class="input" formControlName="email" type="email" required />
            <label class="label">Email</label>
            <div *ngIf="adminForm.get('email')?.touched && adminForm.get('email')?.invalid" class="error-message">
              <small *ngIf="adminForm.get('email')?.hasError('required')">Email is required.</small>
              <small *ngIf="adminForm.get('email')?.hasError('email')">Please enter a valid email address.</small>
            </div>
          </div>
        </div>
  
        
        <div class="col-md-6 col-12 mb-3">
          <div class="input-field">
            <input class="input" formControlName="phone" type="text" required pattern="^\+?(\d{1,4})?[\s\-]?\(?\d{1,4}?\)?[\s\-]?\d{1,4}[\s\-]?\d{1,4}[\s\-]?\d{1,4}$" />
            <label class="label">Phone</label>
            <div *ngIf="adminForm.get('phone')?.touched && adminForm.get('phone')?.invalid" class="error-message">
              <small *ngIf="adminForm.get('phone')?.hasError('required')">Phone is required.</small>
              <small *ngIf="adminForm.get('phone')?.hasError('pattern')">Please enter a valid phone number (e.g., +123-456-7890).</small>
            </div>
          </div>
        </div>
  
        
        <div class="col-12 mb-3">
          <div class="input-field">
            <input class="input" formControlName="password" type="password" required minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*\W).{8,}$" />
            <label class="label">Password</label>
            <div *ngIf="adminForm.get('password')?.touched && adminForm.get('password')?.invalid" class="error-message">
              <small *ngIf="adminForm.get('password')?.hasError('required')">Password is required.</small>
              <small *ngIf="adminForm.get('password')?.hasError('minlength')">Password must be at least 8 characters long.</small>
              <small *ngIf="adminForm.get('password')?.hasError('pattern')">Password must contain at least one uppercase letter, one number, and one special character.</small>
            </div>
          </div>
        </div>
  
        
        <!-- <div class="col-12 mb-3">
          <div class="input-field">
            <input class="input" type="file" formControlName="image" (change)="onImageChange($event)" required />
            <label class="label">Admin Image</label>
            <div *ngIf="adminForm.get('image')?.touched && adminForm.get('image')?.invalid" class="error-message">
              <small *ngIf="adminForm.get('image')?.hasError('required')">Admin image is required.</small>
            </div>
          </div>
        </div> -->
      </div>
  
      
      <button type="submit" class="submit-btn" [disabled]="adminForm.invalid">
        <i class="bi bi-save"></i>{{ adminToEdit ? '  Update Admin' : '  Save Admin' }}
      </button>
    </form>
  </div>
  