
#student-report {
  margin-top: 20px;
}

h2 {
  font-size: 1.5rem;
}

.table {
  margin-top: 15px;
}



@media (max-width: 768px) {
  .ms-3 {
    margin-left: 0;
  }

  .table td {
    word-wrap: break-word;
  }

  #search-by-nic {
    height: 45px;
  }

  #report-generate-btn {
    height: 45px;
  }
}
