.navbar-brand img {
  margin-right: 10px;
}

.nav-link {
  font-weight: 500;
}
.nav-link:hover{
  background-color: #375534;
  border-radius: 10px;
color: #fff;
}
.badge {
  font-size: 0.75rem;
}
#navbar{
  background-color: #dfdfdf;
}
.loginBtn{
 background-color: #375534;
 color: #fff;
}
.loginBtn:hover{
  background-color: #0f2a1d;
  color: #fff;
}