<div class="container my-5">
  <h2 class="text-success text-center">
    Our <span class="fw-bold">Courses</span> List
  </h2>
  <h4 class="mb-4">Most Popular Courses</h4>

  <div id="courseCarousel" class="carousel slide mt-3" data-bs-ride="carousel" >
    <div class="carousel-inner">
      <!-- First Row -->
      <div class="carousel-item active">
        <div class="row"*ngFor="let data of course">
          <!-- Course 1 -->
          <div class="col-md-4">
            <div class="card course-card">
              <span class="course-price">{{data.fees}}</span>
              <img
                [src]=data.imagePaths
                class="course-img"
                alt="Course 1"
              />
              <div class="card-body">
                <h5 class="card-title">{{data.courseName}}</h5>
                <p>{{data.level}}</p>
                <p>{{data.duration}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
