<div class="container my-5">
  <!-- Title -->
  <div class="text-center mb-4">
    <h2 class="text-success">
      Trusted by <span class="fw-bold">Companies</span> Achievements
    </h2>
  </div>
  <!-- Stats Boxes -->
  <div class="row  p-3 d-flex justify-content-evenly">
    <!-- Box 1 -->
    <div class="col-md col-lg-3 stats-box">
      <div class="border border-success rounded-3 text-center p-4 bg-light">
        <i class="bi bi-people-fill text-success display-4"></i>
        <h3 class="text-success mt-3">120k+</h3>
        <p class="text-muted">Our Happy Students</p>
      </div>
    </div>
    <!-- Box 2 -->
    <div class="col-md-6 col-lg-3 stats-box">
      <div class="border border-success rounded-3 text-center p-4 bg-light">
        <i class="bi bi-mortarboard-fill text-success display-4"></i>
        <h3 class="text-success mt-3">17k+</h3>
        <p class="text-muted">Enrolled Learners</p>
      </div>
    </div>
  </div>
  <div class="row g-4 p-3 mt-3 d-flex justify-content-evenly">
    <!-- Box 1-->
    <div class="col-md-6 col-lg-3 stats-box">
      <div class="border border-success rounded-3 text-center p-4 bg-light">
        <i class="bi bi-person-badge-fill text-success display-4"></i>
        <h3 class="text-success mt-3">70k+</h3>
        <p class="text-muted">Expert Instructors</p>
      </div>
    </div>
    <!-- Box 2 -->
    <div class="col-md-6 col-lg-3 stats-box">
      <div class="border border-success rounded-3 text-center p-4 bg-light">
        <i class="bi bi-emoji-smile-fill text-success display-4"></i>
        <h3 class="text-success mt-3">98%</h3>
        <p class="text-muted">Satisfaction Rate</p>
      </div>
    </div>
  </div>
</div>
