
  <div class="modal-content">
    <div class="modal-header bg-white text-black">
      <h5 class="modal-title" id="studentUpdateModalLabel">Update Personal & Address Details</h5>
      <button type="button" class="btn-close" (click)="activeModal.dismiss('cross click')"></button>
    </div>

    <div class="modal-body mt-3">
      <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="form-control">
        <h5 class="text-darkblue">Personal Details</h5>

        <div class="row">

          <div class="row">
            <!-- First Name -->
            <div class="col-md-6 col-12 mb-3">
              <div class="input-field">
                <input class="input" formControlName="firstName" type="text" required />
                <label class="label">First Name</label>
                <div *ngIf="studentForm.get('firstName')?.touched && studentForm.get('firstName')?.invalid"
                  class="error-message">
                  <small *ngIf="studentForm.get('firstName')?.hasError('required')">First Name is required.</small>
                </div>
              </div>
            </div>

            <!-- Last Name -->
            <div class="col-md-6 col-12 mb-3">
              <div class="input-field">
                <input class="input" formControlName="lastName" type="text" required />
                <label class="label">Last Name</label>
                <div *ngIf="studentForm.get('lastName')?.touched && studentForm.get('lastName')?.invalid"
                  class="error-message">
                  <small *ngIf="studentForm.get('lastName')?.hasError('required')">Last Name is required.</small>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Email -->
            <div class="col-md-6 col-12 mb-3">
              <div class="input-field">
                <input class="input" formControlName="email" type="email" required />
                <label class="label">Email</label>
                <div *ngIf="studentForm.get('email')?.touched && studentForm.get('email')?.invalid" class="error-message">
                  <small *ngIf="studentForm.get('email')?.hasError('required')">Email is required.</small>
                  <small *ngIf="studentForm.get('email')?.hasError('email')">Please enter a valid email.</small>
                </div>
              </div>
            </div>

            <!-- Phone Number -->
            <div class="col-md-6 col-12 mb-3">
              <div class="input-field">
                <input class="input" formControlName="phone" type="text" required />
                <label class="label">Phone Number</label>
                <div *ngIf="studentForm.get('phone')?.touched && studentForm.get('phone')?.invalid" class="error-message">
                  <small *ngIf="studentForm.get('phone')?.hasError('required')">Phone Number is required.</small>
                  <small *ngIf="studentForm.get('phone')?.hasError('pattern')">Invalid phone number format.</small>
                </div>
              </div>
            </div>
          </div>

          <!-- Address Form Group -->
          <div formGroupName="address" class="mt-3">
            <h5 class="text-darkblue">Address Details</h5>
            <div class="row">
              <!-- Address Line 1 -->
              <div class="col-md-6 col-12 mb-3">
                <div class="input-field">
                  <input class="input" formControlName="addressLine1" type="text" required />
                  <label class="label">Address Line 1</label>
                  <div
                    *ngIf="studentForm.get('address.addressLine1')?.touched && studentForm.get('address.addressLine1')?.invalid"
                    class="error-message">
                    <small *ngIf="studentForm.get('address.addressLine1')?.hasError('required')">Address Line 1 is
                      required.</small>
                  </div>
                </div>
              </div>

              <!-- Address Line 2 -->
              <div class="col-md-6 col-12 mb-3">
                <div class="input-field">
                  <input class="input" formControlName="addressLine2" type="text" />
                  <label class="label">Address Line 2</label>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- City -->
              <div class="col-md-6 col-12 mb-3">
                <div class="input-field">
                  <input class="input" formControlName="city" type="text" required />
                  <label class="label">City</label>
                  <div *ngIf="studentForm.get('address.city')?.touched && studentForm.get('address.city')?.invalid"
                    class="error-message">
                    <small *ngIf="studentForm.get('address.city')?.hasError('required')">City is required.</small>
                  </div>
                </div>
              </div>

              <!-- State -->
              <div class="col-md-6 col-12 mb-3">
                <div class="input-field">
                  <input class="input" formControlName="state" type="text" required />
                  <label class="label">State</label>
                  <div *ngIf="studentForm.get('address.state')?.touched && studentForm.get('address.state')?.invalid"
                    class="error-message">
                    <small *ngIf="studentForm.get('address.state')?.hasError('required')">State is required.</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Country -->
              <div class="col-md-6 col-12 mb-3">
                <div class="input-field">
                  <input class="input" formControlName="country" type="text" required />
                  <label class="label">Country</label>
                  <div *ngIf="studentForm.get('address.country')?.touched && studentForm.get('address.country')?.invalid"
                    class="error-message">
                    <small *ngIf="studentForm.get('address.country')?.hasError('required')">Country is required.</small>
                  </div>
                </div>
              </div>

              <!-- Postal Code -->
              <div class="col-md-6 col-12 mb-3">
                <div class="input-field">
                  <input class="input" formControlName="postalCode" type="text" required />
                  <label class="label">Postal Code</label>
                  <div
                    *ngIf="studentForm.get('address.postalCode')?.touched && studentForm.get('address.postalCode')?.invalid"
                    class="error-message">
                    <small *ngIf="studentForm.get('address.postalCode')?.hasError('required')">Postal Code is
                      required.</small>
                    <small *ngIf="studentForm.get('address.postalCode')?.hasError('pattern')">Invalid postal code
                      format.</small>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

        <!-- Submit Button -->
        <div class="d-flex justify-content-center mt-2">
          <button type="submit" class="submit-btn" [disabled]="studentForm.invalid"><i class="bi bi-floppy"></i> Update</button>
        </div>

      </form>
    </div>
  </div>
