/* Label styling */
.input-field .label {
    position: absolute;
    top: 25px;
    left: 15px;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 2;
  }
  
  .input-field input:focus ~ .label,
  .input-field input:valid ~ .label,
  .input-field select:focus ~ .label,
  .input-field select:valid ~ .label {
    top: 5px;
    left: 5px;
    font-size: 12px;
    color: #023383;
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .input-field select:invalid,
  .input-field input:invalid {
    border-color: #a0a0a0; /* Optional: red border for invalid select */
  }
  
  /* General input styling */
  .input-field {
    position: relative;
    width: 100%;
  }
  
  .input {
    margin-top: 15px;
    width: 100%;
    outline: none;
    border-radius: 8px;
    height: 45px;
    border: 1.5px solid #000000;
    background: transparent;
    padding-left: 10px;
  }
  
  .input:focus {
    border: 1.5px solid #2d79f3;
  }
  
  /* Styling for error messages */
  .error-message {
    color: #ff4d4d;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .submit-btn {
  width: 100%; /* Full width */
  height: 55px;
  background: #f2f2f2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(180deg, #223146 0%, #0d1b2c 50%, #0b1b32 100%);
  box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.submit-btn:hover {
  box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #0000003a;
}
  
  /* Flexbox for button */
  .d-flex {
    display: flex;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .mt-3 {
    margin-top: 1rem;
  }
  
  .message {
    font-size: 16px;
    color: #333;
  }
  
  .form-control {
    margin: 0 auto;
    max-width: 800px;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    border-radius: 8px;
  }