<div class="container-fluid">
  <div class="row">
    <div class="homeText p-3 col">
      <h4>Hello Students</h4>
      <h2>Welcome to Education</h2>
      <hr />
      <p class="text-center">
        
          "At DEV Hub, we offer comprehensive training in Software <br />
          Development. Our expert instructors guide you through the latest
          <br />
          technologies and methodologies, from coding basics to advanced
          software
          <br />
          engineering. Whether you're a beginner or looking to sharpen your
          <br />
          skills, we provide hands-on learning to help you succeed in the <br />
          fast-paced tech industry."
        
      </p>
      <button class="btn">Login</button>
    </div>
    <div class="col  d-flex justify-content-around">
      <img
        src="/images/VisualsStock_AK50613-removebg-preview.png"
        alt="students"
      />
    </div>
  </div>
</div>
