table {
    font-size: 0.9rem;
  }
  
  th, td {
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .table-responsive {
      overflow-x: scroll;
    }
  
    .table th, .table td {
      padding: 0.5rem;
    }
  }
  