<ngx-spinner name="passwordresett" [fullScreen]="true" type="ball-fussion" size="medium"></ngx-spinner>
<div class="modal-header bg-white text-black">
  <h5 class="modal-title" id="passwordResetModalLabel">
    Reset Student Password
  </h5>
  <button type="button" class="btn-close" (click)="activeModal.dismiss('cross click')"></button>
</div>

<div class="modal-body">
  
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="form-control">
    <p class="message text-center">
      Enter the new password for the student below.
    </p>



    <div class="row">
      <div class="col-12 mb-3">
        <div class="input-field">
          <input class="input" formControlName="newPassword" type="password" required />
          <label class="label">New Password</label>
          <div *ngIf="passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.invalid"
            class="error-message">
            <small *ngIf="passwordForm.get('newPassword')?.hasError('required')">Password is required.</small>
            <small *ngIf="passwordForm.get('newPassword')?.hasError('pattern')">Password must contain at least 8
              characters, 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.</small>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="submit-btn" [disabled]="passwordForm.invalid">
      <i class="bi bi-pencil-square"></i> Change Password
    </button>
  </form>
</div>