
<h2 class="fs-1 fs-sm-2 fs-md-3 fs-lg-4 fs-xl-5 mb-3">{{greeting}}</h2>

<div class="container-fluid">
  <div class="row g-4">
    <!-- Card 1 -->
    <div class="col">
      <div class="card-2 d-flex align-items-center w-100 mx-auto p-4 shadow-lg rounded-3">
        <img src='/html.jpg' class="card-img" alt="Card image" />
        <div>
          <h2 class="card-title text-white">HTML</h2>
          <h3 class="card-subtitle text-white">Basic HTML5</h3>
          <p class="card-text text-white">Beginner</p>
          <p class="card-text text-white">3 months</p>
          <p class="card-text text-white">This Intermediate-level HTML course at DevHub Institute is designed for individuals new to web development.</p>
          <p class="card-text text-danger">LKR 15000.00</p>
          <div class="buttons d-flex gap-3">
            <button (click)="handleProfile()" class="btn btn-outline-light">view</button>
            <button (click)="handleFollow()" class="btn btn-light text-white">Follow</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col">
      <div class="card-2 d-flex align-items-center w-100 mx-auto p-4 shadow-lg rounded-3">
        <img src='/html.jpg' class="card-img" alt="Card image" />
        <div>
          <h2 class="card-title text-white">HTML</h2>
          <h3 class="card-subtitle text-white">Basic HTML5</h3>
          <p class="card-text text-white">Beginner</p>
          <p class="card-text text-white">3 months</p>
          <p class="card-text text-white">This Intermediate-level HTML course at DevHub Institute is designed for individuals new to web development.</p>
          <p class="card-text text-danger">LKR 15000.00</p>
          <div class="buttons d-flex gap-3">
            <button (click)="handleProfile()" class="btn btn-outline-light">view</button>
            <button (click)="handleFollow()" class="btn btn-light text-white">Follow</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col">
      <div class="card-2 d-flex align-items-center w-100 mx-auto p-4 shadow-lg rounded-3">
        <img src='/html.jpg' class="card-img" alt="Card image" />
        <div>
          <h2 class="card-title text-white">HTML</h2>
          <h3 class="card-subtitle text-white">Basic HTML5</h3>
          <p class="card-text text-white">Beginner</p>
          <p class="card-text text-white">3 months</p>
          <p class="card-text text-white">This Intermediate-level HTML course at DevHub Institute is designed for individuals new to web development.</p>
          <p class="card-text text-danger">LKR 15000.00</p>
          <div class="buttons d-flex gap-3">
            <button (click)="handleProfile()" class="btn btn-outline-light">view</button>
            <button (click)="handleFollow()" class="btn btn-light text-white">Follow</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="col">
      <div class="card-2 d-flex align-items-center w-100 mx-auto p-4 shadow-lg rounded-3">
        <img src='/html.jpg' class="card-img" alt="Card image" />
        <div>
          <h2 class="card-title text-white">HTML</h2>
          <h3 class="card-subtitle text-white">Basic HTML5</h3>
          <p class="card-text text-white">Beginner</p>
          <p class="card-text text-white">3 months</p>
          <p class="card-text text-white">This Intermediate-level HTML course at DevHub Institute is designed for individuals new to web development.</p>
          <p class="card-text text-danger">LKR 15000.00</p>
          <div class="buttons d-flex gap-3">
            <button (click)="handleProfile()" class="btn btn-outline-light">view</button>
            <button (click)="handleFollow()" class="btn btn-light text-white">Follow</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 5 -->
    <div class="col">
      <div class="card-2 d-flex align-items-center w-100 mx-auto p-4 shadow-lg rounded-3">
        <img src='/html.jpg' class="card-img" alt="Card image" />
        <div>
          <h2 class="card-title text-white">HTML</h2>
          <h3 class="card-subtitle text-white">Basic HTML5</h3>
          <p class="card-text text-white">Beginner</p>
          <p class="card-text text-white">3 months</p>
          <p class="card-text text-white">This Intermediate-level HTML course at DevHub Institute is designed for individuals new to web development.</p>
          <p class="card-text text-danger">LKR 15000.00</p>
          <div class="buttons d-flex gap-3">
            <button (click)="handleProfile()" class="btn btn-outline-light">view</button>
            <button (click)="handleFollow()" class="btn btn-light text-white">Follow</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 6 -->
    <div class="col">
      <div class="card-2 d-flex align-items-center w-100 mx-auto p-4 shadow-lg rounded-3">
        <img src='/html.jpg' class="card-img" alt="Card image" />
        <div>
          <h2 class="card-title text-white">HTML</h2>
          <h3 class="card-subtitle text-white">Basic HTML5</h3>
          <p class="card-text text-white">Beginner</p>
          <p class="card-text text-white">3 months</p>
          <p class="card-text text-white">This Intermediate-level HTML course at DevHub Institute is designed for individuals new to web development.</p>
          <p class="card-text text-danger">LKR 15000.00</p>
          <div class="buttons d-flex gap-3">
            <button (click)="handleProfile()" class="btn btn-outline-light">view</button>
            <button (click)="handleFollow()" class="btn btn-light text-white">Follow</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 7 -->
    <div class="col">
      <div class="card-2 d-flex align-items-center w-100 mx-auto p-4 shadow-lg rounded-3">
        <img src='/html.jpg' class="card-img" alt="Card image" />
        <div>
          <h2 class="card-title text-white">HTML</h2>
          <h3 class="card-subtitle text-white">Basic HTML5</h3>
          <p class="card-text text-white">Beginner</p>
          <p class="card-text text-white">3 months</p>
          <p class="card-text text-white">This Intermediate-level HTML course at DevHub Institute is designed for individuals new to web development.</p>
          <p class="card-text text-danger">LKR 15000.00</p>
          <div class="buttons d-flex gap-3">
            <button (click)="handleProfile()" class="btn btn-outline-light">view</button>
            <button (click)="handleFollow()" class="btn btn-light text-white">Follow</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 8 -->
    <div class="col">
      <div class="card-2 d-flex align-items-center w-100 mx-auto p-4 shadow-lg rounded-3">
        <img src='/html.jpg' class="card-img" alt="Card image" />
        <div>
          <h2 class="card-title text-white">HTML</h2>
          <h3 class="card-subtitle text-white">Basic HTML5</h3>
          <p class="card-text text-white">Beginner</p>
          <p class="card-text text-white">3 months</p>
          <p class="card-text text-white">This Intermediate-level HTML course at DevHub Institute is designed for individuals new to web development.</p>
          <p class="card-text text-danger">LKR 15000.00</p>
          <div class="buttons d-flex gap-3">
            <button (click)="handleProfile()" class="btn btn-outline-light">view</button>
            <button (click)="handleFollow()" class="btn btn-light text-white">Follow</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
